 <html>
   <head>
<!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   </head>
   <body>
   <div class="container">
         <h1>Alarm Server</h1>
         <div id="event"></div>
         <hr>
         <div class="panel panel-default">
             <div id="info" class="panel-body"></div>
         </div>
         <div id="partitions" class="panel panel-default"> </div>
         <div id="zones" class="panel panel-default"> </div>
     </div>
     <script type="text/javascript">

     var eventOutputContainer = document.getElementById("event");
     var partitionContainer = document.getElementById("partitions");
     var zonesContainer = document.getElementById("zones");
     var infoContainer = document.getElementById("info");
     var evtSrc = new EventSource("/subscribe");

     evtSrc.onmessage = function(e) {
         //console.log(e.data);
         var alarmstate = JSON.parse(e.data);
         // partitions
         var partitions = alarmstate.partition;
         partitionContainer.innerHTML = "";
         for(var partNum in partitions){
             if(!partitions.hasOwnProperty(partNum)){ continue; }

             var name = partitions[partNum].name;
             //partitionContainer.innerHTML += '<div class="panel-body">';
             partitionContainer.innerHTML += "<h3>" + name + " (partition " + partNum + ")</h3>";
             //partitionContainer.innerHTML += '</div>';
             //partitionContainer.innerHTML += '<div class="panel-body">';

             var status = partitions[partNum].status;
             for(var st in status){
                 if(!status.hasOwnProperty(st)){ continue; }
                 if(status[st] == true){
                     if(st == "trouble"){ label='danger'; } else { label='info'; }
                     partitionContainer.innerHTML += '<span class="label label-' + label +'">' + st + '</span>';
                     partitionContainer.innerHTML += '\n';
                 }
             }
             //partitionContainer.innerHTML += '</div>';
         }

         var zones = alarmstate.zone;
         // clear zones
         zonesContainer.innerHTML = "";
         for(var zone in zones){
             if(!zones.hasOwnProperty(zone)){ continue; }

             var name = zones[zone].name
             zonesContainer.innerHTML += "<div>";
             zonesContainer.innerHTML += "<h4>" + name + " (zone " +zone + ")</h4>";

             var lastevents = zones[zone].lastevents;
             try{
                 if(lastevents.length > 0){
                     zonesContainer.innerHTML += "<p>" + st + ": " + lastevents[lastevents.length-1].message + "</p>";
                 }
             }catch(err){}

             var status = zones[zone].status;
             for(var st in status){
                 if(!status.hasOwnProperty(st)){ continue; }
                 if(status[st] == true){ label='warning'; }
                 else{ label='default'; }
                 zonesContainer.innerHTML += '<span class="label label-'+label+'">' + st + ": " + status[st] + "</span>";
                 zonesContainer.innerHTML += '\n';
             }
             zonesContainer.innerHTML += "</div>";// + " Fault:" + zone.status.fault;
         }
         infoContainer.innerHTML = "";
         var version = alarmstate.version;
         infoContainer.innerHTML += "Version:" + version;
         //console.log(alarmstate.zone)
         //eventOutputContainer.innerHTML = e.data;
     };

     </script>
   </body>
 </html>
